<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <a href="https://gitter.im/sdogruyol/kemal">
            <img src="https://badges.gitter.im/Join%20Chat.svg"/>
          </a>
        </ul>
      </div>

      <div class="footer-develop">
        <h4>Kemal is developed and maintained by <a href="http://twitter.com/sdogruyol">Serdar Doğruyol</a></h4>
        <h5>Design by <a href="http://twitter.com/askngdk">Aşkın Gedik</a></h5>
      </div>
    </div>
  </div>
</footer>
