<header class="Header">
  <div class="container">
    <div class="Header_content">
      <a href="{{ site.baseurl }}/" class="Header_logo"><img src="{{ site.baseurl }}/img/kemal.png" alt="Kemal"></a>
      <div class="Header_content_right Header_menu">
        <nav id="main-menu" class="Header_menu_nav">
          {% for my_page in site.nav_bars %}
            {% if my_page.title %}
            <a href="{{ my_page.url }}" class="Header_menu_item">
            {% if my_page.title == "Github" %}
            <svg class="icon">
              <use xlink:href="#icon-github"></use>
            </svg>
            {% else %}
            {{ my_page.title }}
            {% endif %}
            </a>
            {% endif %}
          {% endfor %}
        </nav>
      </div>
    </div>
  </div>
</header>
