/**
 * Site header
 */
.site-header {
    border-top: 7px solid $red-color;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 90px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-title img {
    width: 60px;
}

.site-nav {
    float: right;
    line-height: 90px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        text-transform: uppercase;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    @include media-query($on-palm) {
        position: absolute;
        top: 26px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}
/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    margin-top: 40px;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}
@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}
@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}
/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}
/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
/**
 * doc content
 */
.doc-sidebar {
    background: #f8f8f8;
    // padding: $spacing-unit/2;
    border-bottom: 1px solid #ccc;
    text-shadow: 0 1px 0 #fff;
    padding: 20px 24px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.4);
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.doc {}

.doc-content {}

.doc-heading {
    padding: 0 0 9px;
    border-bottom: 1px solid #ccc;
    color: #111;
    font-size: 20px;
    line-height: 20px;
}

.doc-list {
    margin-left: 0;
    margin-bottom: 24px;
    list-style: none;

    > li {
        margin: 6px 0;
        font-size: 15px;
        line-height: 20px;
    }
}

.doc-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.doc-link {
    display: block;
    font-size: 13px;
}

.hero {
    background: #f1f1f1;
    text-align: center;
    padding: 40px 0;
    margin-bottom: 40px;

    img {
        width: 13%;
    }

    h1 {
        font-size: 55px;
        margin: 0;
    }

    .button {
        display: inline-block;
        background: $red-color-light;
        color: white;
        padding: 8px 20px;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        margin: 0 3px 0 0;
        font-weight: normal;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 2px 0 $red-color-dark;
        -moz-box-shadow: 0 2px 0 $red-color-dark;
        box-shadow: 0 2px 0 $red-color-dark;
    }
}

.footer-develop {
    text-align: right;

    h4 {
        font-size: 13px;
    }

    h5 {
        font-size: 11px;
    }
}

.block {
    margin-top: 40px;

    .code_frame {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 8px 32px rgba(0, 0, 0, 0.12);
        border: 1.3px solid #d1d9db;
        border-top-width: 20px;
        border-radius: 3px;

        h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure {
            margin-bottom: 0;
        }

        pre, code {
            border: none;
            background: white;
        }
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
        padding: 10px;
        margin-bottom: 40px;
        border-bottom: 1px solid #f1f1f1;
    }
}

@mixin center-children {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.companies {

    div {
        @include center-children;
    }
}

.benchmark {
    text-align: center;

    td,
    th {
        text-align: center;
    }
}
