
/*
* Blog List
*/

.Blog{
  &_item{
    margin-bottom: 20px;
    font-size: 20px;
    color: #828282;

    small{
      font-size: 70%;
    }
  }
}

.post_date{
   font-size: 120%;
}

img{
  max-width: 100%;
}
