
/*
* Code frame
*/
.code_frame {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 8px 32px rgba(0, 0, 0, 0.12);
  border: 1.3px solid #d1d9db;
  border-top-width: 20px;
  border-radius: 3px;

  h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure { margin-bottom: 0; }
  pre, code { border: none; background: white; }
}



