
/*
* Home Page
*/

.Site{
  &_hero{
    margin-bottom: 60px;

    .name{
      position: relative;
      opacity: 0;
      animation: slideDown 0.6s forwards 2.6s;
    }

    &_logo{
      width: 120px;
      margin-top: -26px;
    }

    &_title{margin-top: 0;}

    p{font-size: 16px;}

    @media screen and (min-width: $screen-sm-min){
      p{font-size: 24px;}

      .btn{
        margin-top: 20px;
        padding: 10px 16px;
        font-size: 20px;
        line-height: 1.3333333;
        border-radius: $btn-border-radius-large;
        opacity: 0;
        position: relative;
        animation: fadeIn 0.6s forwards 3.2s, scaleIn 0.6s forwards 3.2s;
      }
    }
  }
  
}

.slogan{
  span{
    position: relative;
    animation: slideDown 0.7s forwards;
    opacity: 0;

    &:nth-child(2) {animation-delay: 1s;}
    &:nth-child(3) {animation-delay: 1.8s;}
  }
}

.desc{
  opacity: 0;
  position: relative;
  animation: slideUp 0.6s forwards 2.6s;
}


@keyframes slideDown {
  from {
    top: -50px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    top: 50px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(1.2)
  }

  to {
    transform: scale(1)
  }
}

.Block{
  margin-bottom: 40px;

  &_title{
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px;
  }

  &_content{
    padding-top: 30px;
  }
}


.Kemal-users{
  display: flex;
  align-items: center;
  flex-flow: row wrap;

  div{
    flex: 1;
    text-align: center;
    padding: 0 20px 20px;
    flex-basis: 50%;

    @media screen and (min-width: 500px){
      flex-basis: 25%;
    }
  }

  img{
    max-width: 130px;
    max-height: 50px;

    @media screen and (min-width: 500px){
      max-width: 85px;
      max-height: 50px;
    }

    @media screen and (min-width: $screen-sm-min){
      max-width: 130px;
      max-height: 70px;
    }
  }
}

